<section>
  <button (click)="logout();">LOGOUT</button>
  <button (click)="getAllItemsFromStorage();">GETALL STORAGE</button>
  <button (click)="gateway();">GATEWAY</button>
  <button (click)="getAccessToken();">ACCESS TOKEN</button>
  <button (click)="configMingleURL();">CONFIG URL</button>
  <button (click)="getRefreshTokenURL();">URL TO REFRESH TOKEN</button>
  <button (click)="getBodyToRefreshTokenAPI();">BODY TO REFRESH TOKEN API</button>
  <button (click)="getSessionInfo();">GET SESSION INFOS</button>

  <p>Open console to view info's.</p>
</section>
